---
http_interactions:
  - request:
      method: post
      uri: https://api.cpln.io/org/my-org-staging/image/-query
      body:
        encoding: UTF-8
        string: '{"kind":"string","spec":{"match":"all","terms":[{"property":"repository","op":"=","value":"my-app-test-5"}]}}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"kind":"queryresult","items":[{"kind":"image","id":"0da7d1c4-64de-45ae-aeaa-26dd4419c57d","name":"my-app-test-5:508_149ba15","version":1,"tags":{},"created":"2023-08-02T08:35:20.291Z","lastModified":"2023-08-02T08:35:20.291Z","links":[{"rel":"self","href":"/org/my-org-staging/image/my-app-test-5:508_149ba15"},{"rel":"org","href":"/org/my-org-staging"}],"tag":"508_149ba15","repository":"my-app-test-5","digest":"sha256:2f146661eb7bd864cdab8eec96f16fdbafcad0ae81b8a15ccbeaa96fcfaa6fd2","manifest":{"config":{"size":13244,"digest":"sha256:2f146661eb7bd864cdab8eec96f16fdbafcad0ae81b8a15ccbeaa96fcfaa6fd2","mediaType":"application/vnd.docker.container.image.v1+json"},"mediaType":"application/vnd.docker.distribution.manifest.v2+json","schemaVersion":2}},{"kind":"image","id":"95ab6ac1-d712-4029-87ee-8491930e9bff","name":"my-app-test-5:509_1ddaddb","version":1,"tags":{},"created":"2023-08-03T08:50:12.529Z","lastModified":"2023-08-03T08:50:12.529Z","links":[{"rel":"self","href":"/org/my-org-staging/image/my-app-test-5:509_1ddaddb"},{"rel":"org","href":"/org/my-org-staging"}],"tag":"509_1ddaddb","repository":"my-app-test-5","digest":"sha256:3d07633e3d84b07bc93f19ab62b2a5ce61938c6ea605da54c6ccfcf748c0ec65","manifest":{"config":{"size":13242,"dig[...]
  - request:
      method: get
      uri: https://api.cpln.io/org/my-org-staging/gvc/my-app-test-5
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"kind":"gvc","id":"0d51ba8a-9f7c-4c09-a7ab-097fabe76ea0","name":"my-app-test-5","description":"my-app-test-5","version":1,"tags":{},"created":"2023-01-23T07:04:33.705Z","lastModified":"2023-08-10T01:55:49.246Z","links":[{"rel":"self","href":"/org/my-org-staging/gvc/my-app-test-5"},{"rel":"org","href":"/org/my-org-staging"},{"rel":"workload","href":"/org/my-org-staging/gvc/my-app-test-5/workload"},{"rel":"identity","href":"/org/my-org-staging/gvc/my-app-test-5/identity"}],"alias":"37te1a1c441e8","spec":{"env":[],"staticPlacement":{"locationLinks":["/org/my-org-staging/location/aws-us-east-2"]}},"status":{}}'
    recorded_at: Wed, 23 Aug 2023 20:10:30 GMT
recorded_with: VCR 6.1.0
