.env
.DS_Store

/.bundle/
/.vscode/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/spec.log
/spec/dummy/.controlplane/controlplane*-tmp-*.yml
