---
http_interactions:
  - request:
      method: get
      uri: https://api.cpln.io/org/my-org-staging/domain
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"kind":"list","itemKind":"domain","links":[{"rel":"self","href":"/org/my-org-staging/domain"}],"items":[{"kind":"domain","id":"9f5762c0-5afe-4214-a57f-df9eef722fb2","name":"example.com","description":"example.com","version":1,"tags":{},"created":"2023-02-14T19:08:15.563Z","lastModified":"2023-02-14T19:08:15.563Z","links":[{"rel":"self","href":"/org/my-org-staging/domain/example.com"},{"rel":"org","href":"/org/my-org-staging"}],"spec":{"ports":[{"tls":{"cipherSuites":["ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-ECDSA-CHACHA20-POLY1305","ECDHE-ECDSA-AES128-GCM-SHA256","ECDHE-RSA-AES256-GCM-SHA384","ECDHE-RSA-CHACHA20-POLY1305","ECDHE-RSA-AES128-GCM-SHA256","AES256-GCM-SHA384","AES128-GCM-SHA256"],"minProtocolVersion":"TLSV1_2"},"number":443,"protocol":"http2"}],"dnsMode":"cname","acceptAllHosts":false},"status":{"status":"ready","warning":"","endpoints":[],"fingerprint":"l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"}},{"kind":"domain","id":"4cad1bd2-261f-47db-aa9c-781704201440","name":"my-app-staging.example.com","description":"my-app-staging.example.com","version":1,"tags":{},"created":"2023-02-14T19:11:01.086Z","lastModified":"2023-02-14T19:11:01.086Z","links":[{"rel":"self","href":"/org/my-org-staging/domain/my-app-staging.example.com"},{"rel":"org","href":"/org/my-org-staging"}],"spec":{"ports":[{"tls":{"cipherSuites":["ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-ECDSA-CHACHA20-POLY1305","ECDHE-ECDSA-AES128-GCM-SHA256","ECDHE-RSA-AES256-GCM-SHA384","ECDHE-RSA-CHACHA20-POLY1305","ECDHE-RSA-AES128-GCM-SHA256","AES256-GCM-SHA384","AES128-GCM-SHA256"],"serverCertificate":{},"minProtocolVersion":"TLSV1_2"},"number":443,"protocol":"http2"}],"dnsMode":"ns","acceptAllHosts":false},"status":{"status":"ready","warning":"","endpoints":[],"locations":[],"fingerprint":"l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"}},{"kind":"domain","id":"4cad1bd2-261f-47db-aa9c-781704201440","name":"my-app-staging.example.com","description":"my-app-staging.example.com","version":1,"tags":{},"created":"2023-02-14T19:11:01.086Z","lastModified":"2023-02-14T19:11:01.086Z","links":[{"rel":"self","href":"/org/my-org-staging/domain/my-app-staging.example.com"},{"rel":"org","href":"/org/my-org-staging"}],"spec":{"ports":[{"tls":{"cipherSuites":["ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-ECDSA-CHACHA20-POLY1305","ECDHE-ECDSA-AES128-GCM-SHA256","ECDHE-RSA-AES256-GCM-SHA384","ECDHE-RSA-CHACHA20-POLY1305","ECDHE-RSA-AES128-GCM-SHA256","AES256-GCM-SHA384","AES128-GCM-SHA256"],"serverCertificate":{},"minProtocolVersion":"TLSV1_2"},"number":443,"routes":[{"prefix":"/test","workloadLink":"/org/my-org-staging/gvc/my-app-staging/workload/rails"}],"protocol":"http2"}],"dnsMode":"ns","acceptAllHosts":false},"status":{"status":"ready","warning":"","endpoints":[{"url":"https://my-app-staging.example.com/test","workloadLink":"/org/my-org-staging/gvc/my-app-staging/workload/rails"}],"locations":[{"name":"aws-us-east-2","certificateStatus":"ready"}],"fingerprint":"z37ANVVP+r3pSuLzfVDjN1tx07o"}}]}'
    recorded_at: Thu, 18 May 2023 16:48:39 GMT
recorded_with: VCR 6.1.0
