---
http_interactions:
  - request:
      method: get
      uri: https://api.cpln.io/org/my-org-staging/gvc/my-app-staging/workload/maintenance
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"kind":"workload","id":"a105b63c-e2a4-4ff7-bfa1-eb0545b0d1ae","name":"maintenance","description":"maintenance","version":2,"tags":{"cpln/deployTimestamp":"2023-05-18T00:18:55.334Z"},"created":"2023-05-18T00:18:55.334Z","lastModified":"2023-05-18T18:41:13.000Z","links":[{"rel":"self","href":"/org/my-org-staging/gvc/my-app-staging/workload/maintenance"},{"rel":"org","href":"/org/my-org-staging"},{"rel":"deployment","href":"/org/my-org-staging/gvc/my-app-staging/workload/maintenance/deployment"},{"rel":"gvc","href":"/org/my-org-staging/gvc/my-app-staging"}],"spec":{"type":"standard","containers":[{"cpu":"50m","env":[{"name":"PAGE_URL","value":""},{"name":"PORT","value":"3000"}],"name":"maintenance","image":"wickerlabs/maintenance","ports":[{"number":3000,"protocol":"http"}],"memory":"128Mi","inheritEnv":false}],"defaultOptions":{"debug":false,"suspend":false,"capacityAI":false,"autoscaling":{"metric":"cpu","target":95,"maxScale":1,"minScale":1,"maxConcurrency":0,"scaleToZeroDelay":300},"timeoutSeconds":60},"firewallConfig":{"external":{"inboundAllowCIDR":["0.0.0.0/0"],"outboundAllowCIDR":[],"outboundAllowHostname":[]}},"supportDynamicTags":false},"status":{"endpoint":"https://maintenance-hd66p547bcrpy.cpln.app","parentId":"407d11e7-9cdd-4d08-ab5a-fb8c18322645","internalName":"maintenance.my-app-staging.cpln.local","canonicalEndpoint":"https://maintenance-hd66p547bcrpy.cpln.app"}}'
    recorded_at: Thu, 18 May 2023 22:28:43 GMT
recorded_with: VCR 6.1.0
