---
http_interactions:
  - request:
      method: post
      uri: https://api.cpln.io/org/my-org-staging/workload/-query
      body:
        encoding: UTF-8
        string: '{"kind":"string","spec":{"match":"all","terms":[{"rel":"gvc","op":"=","value":"my-app-staging"},{"property":"name","op":"~","value":"-run-"}]}}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - "<AUTHORIZATION>"
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"kind":"queryresult","items":[{"kind":"workload","id":"5f8a0b42-82c7-45b2-b14d-d5b3733b41a0","name":"rails-run-0","description":"rails-run-0","version":1,"tags":{"cpln/deployTimestamp":"2023-05-15T16:00:00.000Z"},"created":"2023-05-15T16:00:00.000Z","lastModified":"2023-05-15T16:00:00.000Z","links":[{"rel":"self","href":"/org/my-org-staging/gvc/my-app-staging/workload/rails-run-0"},{"rel":"org","href":"/org/my-org-staging"},{"rel":"deployment","href":"/org/my-org-staging/gvc/my-app-staging/workload/rails-run-0/deployment"},{"rel":"gvc","href":"/org/my-org-staging/gvc/my-app-staging"}],"spec":{"type":"standard","containers":[{"cpu":"300m","env":[{"name":"CONTROLPLANE_RUNNER","value":"unset CONTROLPLANE_RUNNER\nbash"},{"name":"LOG_LEVEL","value":"debug"}],"args":["-e","require \"socket\";s=TCPServer.new(ENV[\"PORT\"]);loop do c=s.accept;c.puts(\"HTTP/1.1 200 OK\\nContent-Length: 2\\n\\nOk\");c.close end"],"name":"rails","image":"/org/my-org-staging/image/my-app-staging:1","ports":[{"number":3000,"protocol":"http"}],"memory":"512Mi","command":"ruby","inheritEnv":true}],"defaultOptions":{"debug":false,"suspend":false,"capacityAI":false,"autoscaling":{"metric":"cpu","target":95,"maxScale":1,"minScale":1,"maxConcurrency":0,"scaleToZeroDelay":300},"timeoutSeconds":5},"firewallConfig":{"external":{"inboundAllowCIDR":["0.0.0.0/0"],"outboundAllowCIDR":["0.0.0.0/0"],"outboundAllowHostname":[]}},"supportDynamicTags":false},"status":{"endpoint":"https://rails-run-0-hd66p547bcrpy.cpln.app","parentId":"407d11e7-9cdd-4d08-ab5a-fb8c18322645","internalName":"rails-run-0.my-app-staging.cpln.local","canonicalEndpoint":"https://rails-run-0-hd66p547bcrpy.cpln.app"}},{"kind":"workload","id":"8842d7a0-42a3-4e3d-b4ce-04d54afee3bb","name":"rails-run-4137","description":"rails-run-4137","version":1,"tags":{"cpln/deployTimestamp":"2023-05-10T12:00:00.000Z"},"created":"2023-05-10T12:00:00.000Z","lastModified":"2023-05-10T12:00:00.000Z","links":[{"rel":"self","href":"/org/my-org-staging/gvc/my-app-staging/workload/rails-run-4137"},{"rel":"org","href":"/org/my-org-staging"},{"rel":"deployment","href":"/org/my-org-stagin[...]
